# dependencies installed by npm
**/node_modules
node_modules
dist
dist-ssr
*.local

# build artefacts
public
css

# secrets and errors
.env
.log

# Editor related files
.vscode/*
!.vscode/extensions.json
.DS_Store

# logs
logs
*.log
npm-debug.log*