---
title: Archive
layout: 'base.njk'
---

<section>
  <h2>Recent Articles</h2>
  <ul>
    {%- for post in collections.post | reverse -%}
    <li>
      {% include 'article-snippet.njk' %}
    </li>
    {%- endfor -%}
  </ul>
</section>